# Entorno virtual
.venv/
__pycache__/

# Variables de entorno
.env

# Credenciales (Carpeta completa o archivos específicos)
credentials/client_secrets.json
credentials/token.json
credentials/google_credentials.json

# Archivos temporales de subida
uploads/*
!uploads/.gitkeep